/* --------- main pages colors */
#landing-page-container {
    background-color: rgb(207, 204, 204);
}

.main-conatainer {
    background-color: rgb(10, 59, 77);
}

/* --------- Global style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-conatainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#landing-page-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#game {
    width: 75%; 
    margin: auto 0; 
}

.justify-center {
    display: flex;
    justify-content: center;
}

#landing-page {
    position: relative;
    height: 80%;
    width: 60%;
    background-color: rgb(10, 59, 77);
    border-radius: 10%;
}

#world {
    padding-left: 30px;
    padding-top: 30px;
}

#title {
    text-align: center;
    margin-bottom: 30px;
    color:rgb(243, 105, 0);
    font-size: 40px;
}

.start-btn {
    text-align: center;
    border: 1px solid rgba(224, 222, 88, 0.25);
    font-size: 18px;
    width: 30%;
    padding: 10px;
    background-color:rgba(118, 163, 157, 1);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    margin: 0 auto;
    margin-bottom: 15px;
    
    
}

#hands {
    position: absolute;
    transform:translate(-50%, 2%);
    bottom: 0%;
    left: 50%;
}

#question-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(243, 105, 0);
    border: 1px solid white;
}

#question-num {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 30px;
    color: white;
}

#question-hub {
    flex-direction: column;
    text-align: center;
    margin-top: 30px; 
}

#question {
    font-size: 40px;
    color: white;
}

#select-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-evenly;
    gap: 8px;
    margin: 20px 100px;

}

.btn {
    border: 1px solid rgba(224, 222, 88, 0.25);
    font-size: 18px;
    width: 100%;
    padding: 15px;
    background-color:rgb(243, 105, 0);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    padding: 15px;
    width: 100%;
    text-align: center;
}

#image-container {
    margin-top: 20px;
}

img {
    height: 150px;
}

#select-container {
    margin-bottom: 20px;
}

#clock-container {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: rgb(243, 105, 0);
    text-align: center;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}

#counter {
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
}


